body {
    font-family: cursive;
    background-image: linear-gradient(to left, #111111, #111011, #101012, #0f0f12, #0e0f13, #0e0f13, #0e0f14, #0e0f14, #0f0f14, #0f0f14, #101014, #101014);
    background-attachment: fixed;
    color: #d7d7d7;
    display: flex;
    justify-content: center;
}

:root {
    font-size: 62.5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8rem;
    width: 100vw;
    gap: 2rem;
    border-bottom: .1px solid rgba(255, 255, 255, .2);
}
.logo__content {
    display: flex;
    align-items: center;
    max-height: 80rem;
}
.logo__content img {
    height: 10rem;
    padding: 2rem;
}
.navigation ul{
    display: flex;  
    gap: 5rem;
    font-size: 1.8rem;
}
.logo__umbra img {
    height: 10rem;
    padding: 2rem;
}

.icon__category {
    font-size: 4rem;
    margin-top: -7rem;
}
.category {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 1rem;
    border-left: .1px solid rgba(255, 255, 255, .2);
    height: 100vh;
}
.category ul{
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 15rem;
}


.category li {
    transform: rotate(90deg);
}
.left__content {
    position: absolute;
    left: 1px;
    top: 8rem;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.card img{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}