:root {
    font-size: 62.5%;
}

body {
    background-color: #181818;
    background-attachment: fixed;
    color: #d7d7d7;
    display: block;

    font-family: "Rubik";
}

.banner__content {
    position: relative;

    background:
        linear-gradient(to right,
            rgba(0, 0, 0, .3), rgb(10, 10, 10, .7)),
        url("../assets/recursos/Banner.png");
    height: 35rem;
    width: 100vw;
    left: 0;
    background-size: cover;
    z-index: -111;
    background-position: left;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.banner__content::after {
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-height: 35rem;
    width: 80vw;
    background: linear-gradient(-233deg, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, 0) 60%) no-repeat;
}


.banner__title {
    margin-left: 5rem;
}

.banner__title {
    font-size: 6rem;
    text-transform: uppercase;
    margin-top: 3rem;
    font-family: "Black Ops One";
}

.banner__content .description {
    margin-top: 2rem;
    font-size: 2rem;
    word-break: normal;
    line-height: 2.7rem;
    width: 45rem;
}


.apresentation, .organizacoes {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    width: 100vw;
}
.description__content{
    display: flex;
    gap: 7rem;
}
.description__content img{
    width: 30rem;
}
.description{
    font-family: "Rubik";
    text-align: center;
    align-self: center;
    font-size: 2rem;
    width: 60rem;
    padding: 3rem;
}

.apresentation h1, h2{
    margin: 7.2rem 0;
    font-size: 4rem;
    text-transform: uppercase;
}


.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    position: relative;
    width: 80px;
    border: .75rem;
    /* background-size: cover; */
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.row {
    position: absolute;
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.icon {
    background-color: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.description__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 520px;
    height: 80px;
    opacity: 0;
    transform: translateY(320px);
    transition-delay: .3s;
    transition: all .3 ease;
}

.description__card p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description__card h1 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked+label {
    width: 600px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
